<!doctype html>
<html>
<head>
    <title>支付测试</title>
</head>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<body>

   <p style="font-size: 100px" onclick="testpay()">点击支付</p>
   <script type="text/javascript">
        wx.config({
            debug: false,
            appId: '<%= wxconfig.appid %>',
            timestamp: '<%= wxconfig.timestamp %>',
            nonceStr: '<%= wxconfig.noncestr %>',
            signature: '<%= wxconfig.signature %>',
            jsApiList: [
                'chooseWXPay'
            ]
        });
        wx.ready(function () {
            
        });
        wx.error(function () {

        }); 

        function testpay(){
            wx.chooseWXPay({//发起微信支付请求
                timestamp: '<%= wxchoosepay.timeStamp %>',
                nonceStr: '<%= wxchoosepay.nonceStr %>',
                package: '<%= wxchoosepay.package %>',
                signType: 'MD5',
                paySign: '<%= wxchoosepay.paySign %>',
                success: function (result) {
                    //var result = JSON.stringify(res)
                    alert(result.errMsg)
                    if(result.errMsg == "chooseWXPay:ok"){
                        alert('支付成功！');
                    }else if(result.errMsg == "chooseWXPay:cancel"){
                        alert('取消支付！');
                    }
                }
            })
        } 
    </script>
</body>
</html>