<!doctype html>
<html>
<head>
    <title>支付测试</title>
</head>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<body>
      appId: '<%= wxconfig.appid %>',
            timestamp: '<%= wxconfig.timestamp %>',
            nonceStr: '<%= wxconfig.noncestr %>',
            signature: '<%= wxconfig.signature %>',

   <p style="font-size: 100px" onclick="testpay()">点击支付</p>
   <script type="text/javascript">
        wx.config({
            debug: true,
            appId: '<%= wxconfig.appid %>',
            timestamp: '<%= wxconfig.timestamp %>',
            nonceStr: '<%= wxconfig.noncestr %>',
            signature: '<%= wxconfig.signature %>',
            jsApiList: []
        });
        wx.ready(function () {
            
        });
        wx.error(function () {

        }); 

        function testpay(){
            wx.chooseWXPay({//发起微信支付请求
                timeStamp: '<%= wxchoosepay.timeStamp %>',
                nonceStr: '<%= wxchoosepay.nonceStr %>',
                package: '<%= wxchoosepay.package %>',
                signType: 'MD5',
                paySign: '<%= wxchoosepay.paySign %>',
                success: function (res) {
                    console.log('res:', res);
                }
            })
        } 
    </script>
</body>
</html>